.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center;
}

.hero section {
  margin: 60px;
  gap: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.arrow {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}

.team {
  width: 100%;
  /* height: 100%; */
  margin: 0;
}

.team__mates {
  gap: 30px;
}

.team__mates article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

article div {
  width: 240px;
  height: 240px;
}

article h4 {
  width: 100%;
  color: black;
  text-align: center;
  margin: 0;
}

article .box {
  width: 280px;
  height: 100px;
  background-color: rgb(208, 208, 208);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: left;
  font-size: 1.1rem;
}

.box p i {
  font-size: 3.5rem;
}

.rakib {
  background-image: url("/assets/profiles/Rakib_Square.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.alexandra {
  background-image: url("/assets/profiles/Alexandra_Square.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.lasse {
  background-image: url("/assets/profiles/NoPerson_Square.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.sebastian {
  background-image: url("/assets/profiles/Sebastian_Square.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.icon {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.257);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}

.button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.button i {
  margin-right: 15px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer section {
  width: 270px;
  margin: 15px;
}

footer section p {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: start;
}

footer section p i {
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
