@mixin flex ($direction, $position) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: center;
}

@mixin heroimage ($url){
    background-image: $url;
    background-size: cover;
    background-position: center;
}

@mixin profileimage ($url) {
    background-image: $url;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}