@use "mixins";

.team {
    width: 100%;
    /* height: 100%; */
    margin: 0;
}

.team__mates {
    gap: 30px;
}

.team__mates article {
    @include mixins.flex (column, center);
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

article div {
    width: 240px;
    height: 240px;
}

article h4 {
    width: 100%;
    color: black;
    text-align: center;
    margin: 0;
}

article .box {
    width: 280px;
    height: 100px;
    background-color: rgb(208, 208, 208);
    padding: 20px;
    @include mixins.flex (column, center);
}

.box p {
    text-align: left;
    font-size: 1.1rem;
}

.box p i {
    font-size: 3.5rem;
}

.rakib {
    @include mixins.profileimage (url("/assets/profiles/Rakib_Square.png"))
}

.alexandra {
    @include mixins.profileimage (url("/assets/profiles/Alexandra_Square.png"))
}

.lasse {
    @include mixins.profileimage (url("/assets/profiles/NoPerson_Square.png"))
}

.sebastian {
    @include mixins.profileimage (url("/assets/profiles/Sebastian_Square.png"))
}

.icon {
    width: 100%;
    height: 60px;
    @include mixins.flex (column, center);
}