@use "mixins";

.hero {
    width: 100%;
    height: 100vh;

    @include mixins.flex (column, space-between);
    @include mixins.heroimage (url("/assets/negative-space-black-forest-dawn.jpg"))
}

.hero section {
    margin: 60px;
    gap: 15px;
    color: white;

    @include mixins.flex (column, center);
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.arrow {
    width: 100%;
    height: 100px;

    @include mixins.flex (column, center);
}